ion-spinner {
  width: 32px !important;
  height: 32px !important;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.card {
  margin-bottom: 10px;
}

ion-card-header {
  --color: green;
  color: var(--color);
}

ion-icon {
    --color: pink;
    color: var(--color);
    width: 48px !important;
    height: 48px !important;
  }
