/** Using CSS Variables (correctly)
    Ref: https://codepen.io/MadeByMike/pen/dRoLpJ
    Ref: https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
    Ref: https://www.smashingmagazine.com/2018/05/css-custom-properties-strategy-guide/
    Ref: https://medium.freecodecamp.org/everything-you-need-to-know-about-css-variables-c74d922ea855
**/

* {
  --color: pink;
}

ion-icon {
  color: var(--color);
  width: 32px !important;
  height: 32px !important;
}

ion-icon:hover {
  background-color: rebeccapurple;
  box-shadow: inset 0px 0px 0px 2px red;
}

/* ----------RGBY---------------- */

.ion-color-red {
  --ion-color-base: #FF0000;
  --ion-color-base-rgb: 255, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e00000;
  --ion-color-tint: #ff1a1a;
}

.ion-color-green {
  --ion-color-base: #008000;
  --ion-color-base-rgb: 0, 128, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #007100;
  --ion-color-tint: #1a8d1a;
}

.ion-color-blue {
  --ion-color-base: #0000FF;
  --ion-color-base-rgb: 0, 0, 255;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0000e0;
  --ion-color-tint: #1a1aff;
}

.ion-color-yellow {
  --ion-color-base: #ffff00;
  --ion-color-base-rgb: 255, 255, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e000;
  --ion-color-tint: #ffff1a;
}

/* ----------sRGB---------------- */

.ion-color-black {
  --ion-color-base: #000000;
  --ion-color-base-rgb: 0, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #000000;
  --ion-color-tint: #1a1a1a;
}

.ion-color-silver {
  --ion-color-base: #C0C0C0;
  --ion-color-base-rgb: 192, 192, 192;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #a9a9a9;
  --ion-color-tint: #c6c6c6;
}

.ion-color-gray {
  --ion-color-base: #808080;
  --ion-color-base-rgb: 128, 128, 128;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #717171;
  --ion-color-tint: #8d8d8d;
}

.ion-color-white {
  --ion-color-base: #FFFFFF;
  --ion-color-base-rgb: 255, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0e0;
  --ion-color-tint: #ffffff;
}

.ion-color-maroon {
  --ion-color-base: #800000;
  --ion-color-base-rgb: 128, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #710000;
  --ion-color-tint: #8d1a1a;
}

/* Red above */

.ion-color-purple {
  --ion-color-base: #800080;
  --ion-color-base-rgb: 128, 0, 128;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #710071;
  --ion-color-tint: #8d1a8d;
}

.ion-color-fuchsia {
  --ion-color-base: #FF00FF;
  --ion-color-base-rgb: 255, 0, 255;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e000e0;
  --ion-color-tint: #ff1aff;
}

/* Green above */

.ion-color-lime {
  --ion-color-base: #00FF00;
  --ion-color-base-rgb: 0, 255, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #00e000;
  --ion-color-tint: #1aff1a;
}

.ion-color-olive {
  --ion-color-base: #808000;
  --ion-color-base-rgb: 128, 128, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #717100;
  --ion-color-tint: #8d8d1a;
}

/* Yellow above */

.ion-color-navy {
  --ion-color-base: #000080;
  --ion-color-base-rgb: 0, 0, 128;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #000071;
  --ion-color-tint: #1a1a8d;
}

/* Blue above */

.ion-color-teal {
  --ion-color-base: #008080;
  --ion-color-base-rgb: 0, 128, 128;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #007171;
  --ion-color-tint: #1a8d8d;
}

.ion-color-aqua {
  --ion-color-base: #00FFFF;
  --ion-color-base-rgb: 0, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #00e0e0;
  --ion-color-tint: #1affff;
}

/* ----------Pink colors---------------- */

/* ----------Red colors---------------- */

/* ----------Orange colors---------------- */

/* ----------Yellow colors---------------- */

/* ----------Brown colors---------------- */

/* ----------Green colors---------------- */

/* ----------Cyan colors---------------- */

/* ----------Blue colors---------------- */

/* ----------Purple, Violet, and Magenta colors---------------- */

/* ----------White colors---------------- */

/* White above */

.ion-color-snow {
  --ion-color-base: #FFFAFA;
  --ion-color-base-rgb: 255, 250, 250;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0dcdc;
  --ion-color--tint: #fffbfb;
}

.ion-color-honeydew {
  --ion-color-base: #F0FFF0;
  --ion-color-base-rgb: 240, 255, 240;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d3e0d3;
  --ion-color-tint: #f2fff2;
}

.ion-color-mintcream {
  --ion-color-base: #F5FFFA;
  --ion-color-base-rgb: 245, 255, 250;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d8e0dc;
  --ion-color-tint: #f6fffb;
}

.ion-color-azure {
  --ion-color-base: #F0FFFF;
  --ion-color-base-rgb: 240, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d3e0e0;
  --ion-color-tint: #f2ffff;
}

.ion-color-aliceblue {
  --ion-color-base: #F0F8FF;
  --ion-color-base-rgb: 240, 248, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d3dae0;
  --ion-color-tint: #f2f9ff;
}

.ion-color-ghostwhite {
  --ion-color-base: #F8F8FF;
  --ion-color-base-rgb: 248, 248, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dadae0;
  --ion-color-tint: #f9f9ff;
}

.ion-color-whitesmoke {
  --ion-color-base: #F5F5F5;
  --ion-color-base-rgb: 245, 245, 245;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d8d8d8;
  --ion-color-tint: #f6f6f6;
}

.ion-color-seashell {
  --ion-color-base: #FFF5EE;
  --ion-color-base-rgb: 255, 245, 238;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0d8d1;
  --ion-color-tint: #fff6f0;
}

.ion-color-beige {
  --ion-color-base: #F5F5DC;
  --ion-color-base-rgb: 245, 245, 220;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d8d8c2;
  --ion-color-tint: #f6f6e0;
}

.ion-color-oldlace {
  --ion-color-base: #FDF5E6;
  --ion-color-base-rgb: 253, 245, 230;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dfd8ca;
  --ion-color-tint: #fdf6e9;
}

.ion-color-floralwhite {
  --ion-color-base: #FFFAF0;
  --ion-color-base-rgb: 255, 250, 240;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0dcd3;
  --ion-color-tint: #fffbf2;
}

.ion-color-ivory {
  --ion-color-base: #FFFFF0;
  --ion-color-base-rgb: 255, 255, 240;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0d3;
  --ion-color-tint: #fffff2;
}

.ion-color-antiquewhite {
  --ion-color-base: #FAEBD7;
  --ion-color-base-rgb: 250, 235, 215;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dccfbd;
  --ion-color-tint: #fbeddb;
}

.ion-color-linen {
  --ion-color-base: #FAF0E6;
  --ion-color-base-rgb: 250, 240, 230;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dcd3ca;
  --ion-color-tint: #fbf2e9;
}

.ion-color-lavenderblush {
  --ion-color-base: #FFF0F5;
  --ion-color-base-rgb: 255, 240, 245;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0d3d8;
  --ion-color-tint: #fff2f6;
}

.ion-color-mistyrose {
  --ion-color-base: #FFE4E1;
  --ion-color-base-rgb: 255, 228, 225;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0c9c6;
  --ion-color-tint: #ffe7e4;
}

/* ----------Gray and Black colors---------------- */