/** Using CSS Variables (correctly)
    Ref: https://codepen.io/MadeByMike/pen/dRoLpJ
    Ref: https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
    Ref: https://www.smashingmagazine.com/2018/05/css-custom-properties-strategy-guide/
    Ref: https://medium.freecodecamp.org/everything-you-need-to-know-about-css-variables-c74d922ea855
    Ref: https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm
**/

* {
  --color: pink;
}

ion-icon {
  color: var(--color);
  width: 32px !important;
  height: 32px !important;
}

ion-icon:hover {
  background-color: rebeccapurple;
  box-shadow: inset 0px 0px 0px 2px red;
  /* width: 48px !important;
  height: 48px !important; */
}

/* ----------RGBY---------------- */

.ion-color-red {
  --ion-color-base: #FF0000;
  --ion-color-base-rgb: 255, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e00000;
  --ion-color-tint: #ff1a1a;
}

.ion-color-green {
  --ion-color-base: #008000;
  --ion-color-base-rgb: 0, 128, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #007100;
  --ion-color-tint: #1a8d1a;
}

.ion-color-blue {
  --ion-color-base: #0000FF;
  --ion-color-base-rgb: 0, 0, 255;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0000e0;
  --ion-color-tint: #1a1aff;
}

.ion-color-yellow {
  --ion-color-base: #ffff00;
  --ion-color-base-rgb: 255, 255, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e000;
  --ion-color-tint: #ffff1a;
}

/* ----------sRGB---------------- */

.ion-color-black {
  --ion-color-base: #000000;
  --ion-color-base-rgb: 0, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #000000;
  --ion-color-tint: #1a1a1a;
}

.ion-color-silver {
  --ion-color-base: #C0C0C0;
  --ion-color-base-rgb: 192, 192, 192;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #a9a9a9;
  --ion-color-tint: #c6c6c6;
}

.ion-color-gray {
  --ion-color-base: #808080;
  --ion-color-base-rgb: 128, 128, 128;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #717171;
  --ion-color-tint: #8d8d8d;
}

.ion-color-white {
  --ion-color-base: #FFFFFF;
  --ion-color-base-rgb: 255, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0e0;
  --ion-color-tint: #ffffff;
}

.ion-color-maroon {
  --ion-color-base: #800000;
  --ion-color-base-rgb: 128, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #710000;
  --ion-color-tint: #8d1a1a;
}

/* Red above */

.ion-color-purple {
  --ion-color-base: #800080;
  --ion-color-base-rgb: 128, 0, 128;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #710071;
  --ion-color-tint: #8d1a8d;
}

.ion-color-fuchsia {
  --ion-color-base: #FF00FF;
  --ion-color-base-rgb: 255, 0, 255;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e000e0;
  --ion-color-tint: #ff1aff;
}

/* Green above */

.ion-color-lime {
  --ion-color-base: #00FF00;
  --ion-color-base-rgb: 0, 255, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #00e000;
  --ion-color-tint: #1aff1a;
}

.ion-color-olive {
  --ion-color-base: #808000;
  --ion-color-base-rgb: 128, 128, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #717100;
  --ion-color-tint: #8d8d1a;
}

/* Yellow above */

.ion-color-navy {
  --ion-color-base: #000080;
  --ion-color-base-rgb: 0, 0, 128;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #000071;
  --ion-color-tint: #1a1a8d;
}

/* Blue above */

.ion-color-teal {
  --ion-color-base: #008080;
  --ion-color-base-rgb: 0, 128, 128;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #007171;
  --ion-color-tint: #1a8d8d;
}

.ion-color-aqua {
  --ion-color-base: #00FFFF;
  --ion-color-base-rgb: 0, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #00e0e0;
  --ion-color-tint: #1affff;
}

/* ----------Pink colors---------------- */

.ion-color-pink {
  --ion-color-base: #FFC0CB;
  --ion-color-base-rgb: 255, 192, 203;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0a9b3;
  --ion-color-tint: #ffc6d0;
}

.ion-color-lightpink {
  --ion-color-base: #FFB6C1;
  --ion-color-base-rgb: 255, 182, 193;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0a0aa;
  --ion-color-tint: #ffbdc7;
}

.ion-color-hotpink {
  --ion-color-base: #FF69B4;
  --ion-color-base-rgb: 255, 105, 180;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e05c9e;
  --ion-color-tint: #ff78bc;
}

.ion-color-deeppink {
  --ion-color-base: #FF1493;
  --ion-color-base-rgb: 255, 20, 147;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e01281;
  --ion-color-tint: #ff2c9e;
}

.ion-color-palevioletred {
  --ion-color-base: #DB7093;
  --ion-color-base-rgb: 219, 112, 147;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #c16381;
  --ion-color-tint: #df7e9e;
}

.ion-color-mediumvioletred {
  --ion-color-base: #C71585;
  --ion-color-base-rgb: 199, 21, 133;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #af1275;
  --ion-color-tint: #cd2c91;
}

/* ----------Red colors---------------- */

.ion-color-lightsalmon {
  --ion-color-base: #FFA07A;
  --ion-color-base-rgb: 255, 160, 122;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e08d6b;
  --ion-color-tint: #ffaa87;
}

.ion-color-salmon {
  --ion-color-base: #FA8072;
  --ion-color-base-rgb: 250, 128, 114;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dc7164;
  --ion-color-tint: #fb8d80;
}

.ion-color-darksalmon {
  --ion-color-base: #E9967A;
  --ion-color-base-rgb: 233, 150, 122;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #cd846b;
  --ion-color-tint: #eba187;
}

.ion-color-lightcoral {
  --ion-color-base: #F08080;
  --ion-color-base-rgb: 240, 128, 128;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d37171;
  --ion-color-tint: #f28d8d;
}

.ion-color-indianred {
  --ion-color-base: #CD5C5C;
  --ion-color-base-rgb: 205, 92, 92;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #b45151;
  --ion-color-tint: #d26c6c;
}

.ion-color-crimson {
  --ion-color-base: #DC143C;
  --ion-color-base-rgb: 220, 20, 60;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #c21235;
  --ion-color-tint: #e02c50;
}

.ion-color-firebrick {
  --ion-color-base: #B22222;
  --ion-color-base-rgb: 178, 34, 34;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #9d1e1e;
  --ion-color-tint: #ba3838;
}

.ion-color-darkred {
  --ion-color-base: #8B0000;
  --ion-color-base-rgb: 139, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #7a0000;
  --ion-color-tint: #971a1a;
}

/* ----------Orange colors---------------- */

.ion-color-orangered {
  --ion-color-base: #FF4500;
  --ion-color-base-rgb: 255, 69, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e03d00;
  --ion-color-tint: #ff581a;
}

.ion-color-tomato {
  --ion-color-base: #FF6347;
  --ion-color-base-rgb: 255, 99, 71;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0573e;
  --ion-color-tint: #ff7359;
}

.ion-color-coral {
  --ion-color-base: #FF7F50;
  --ion-color-base-rgb: 255, 127, 80;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e07046;
  --ion-color-tint: #ff8c62;
}

.ion-color-darkorange {
  --ion-color-base: #FF8C00;
  --ion-color-base-rgb: 255, 140, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e07b00;
  --ion-color-tint: #ff981a;
}

.ion-color-orange {
  --ion-color-base: #FFA500;
  --ion-color-base-rgb: 255, 165, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e09100;
  --ion-color-tint: #ffae1a;
}

/* ----------Yellow colors---------------- */

/* Yellow above */

.ion-color-lightyellow {
  --ion-color-base: #FFFFE0;
  --ion-color-base-rgb: 255, 255, 224;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0c5;
  --ion-color-tint: #ffffe3;
}

.ion-color-lemonchiffon {
  --ion-color-base: #FFFACD;
  --ion-color-base-rgb: 255, 250, 205;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0dcb4;
  --ion-color-tint: #fffbd2;
}

.ion-color-lightgoldenrodyellow {
  --ion-color-base: #FAFAD2;
  --ion-color-base-rgb: 250, 250, 210;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dcdcb9;
  --ion-color-tint: #fbfbd7;
}

.ion-color-papayawhip {
  --ion-color-base: #FFEFD5;
  --ion-color-base-rgb: 255, 239, 213;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0d2bb;
  --ion-color-tint: #fff1d9;
}

.ion-color-moccasin {
  --ion-color-base: #FFE4B5;
  --ion-color-base-rgb: 255, 228, 181;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0c99f;
  --ion-color-tint: #ffe7bc;
}

.ion-color-peachpuff {
  --ion-color-base: #FFDAB9;
  --ion-color-base-rgb: 255, 218, 185;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0c0a3;
  --ion-color-tint: #ffdec0;
}

.ion-color-palegoldenrod {
  --ion-color-base: #EEE8AA;
  --ion-color-base-rgb: 238, 232, 170;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d1cc96;
  --ion-color-tint: #f0eab3;
}

.ion-color-khaki {
  --ion-color-base: #F0E68C;
  --ion-color-base-rgb: 240, 230, 140;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d3ca7b;
  --ion-color-tint: #f2e998;
}

.ion-color-darkkhaki {
  --ion-color-base: #BDB76B;
  --ion-color-base-rgb: 189, 183, 107;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #a6a15e;
  --ion-color-tint: #c4be7a;
}

.ion-color-gold {
  --ion-color-base: #FFD700;
  --ion-color-base-rgb: 255, 215, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0bd00;
  --ion-color-tint: #ffdb1a;
}

/* ----------Brown colors---------------- */

.ion-color-cornsilk {
  --ion-color-base: #FFF8DC;
  --ion-color-base-rgb: 255, 248, 220;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0dac2;
  --ion-color-tint: #fff9e0;
}

.ion-color-blanchedalmond {
  --ion-color-base: #FFEBCD;
  --ion-color-base-rgb: 255, 235, 205;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0cfb4;
  --ion-color-tint: #ffedd2;
}

.ion-color-bisque {
--ion-color-base: #FFE4C4;
--ion-color-base-rgb: 255,228,196;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #e0c9ac;
--ion-color-tint: #ffe7ca;
}

.ion-color-navajowhite {
--ion-color-base: #FFDEAD;
--ion-color-base-rgb: 255,222,173;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #e0c398;
--ion-color-tint: #ffe1b5;
}

.ion-color-wheat {
--ion-color-base: #F5DEB3;
--ion-color-base-rgb: 245,222,179;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #d8c39e;
--ion-color-tint: #f6e1bb;
}

.ion-color-burlywood {
--ion-color-base: #DEB887;
--ion-color-base-rgb: 222,184,135;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #c3a277;
--ion-color-tint: #e1bf93;
}

.ion-color-tan {
--ion-color-base: #D2B48C;
--ion-color-base-rgb: 210,180,140;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #b99e7b;
--ion-color-tint: #d7bc98;
}

.ion-color-rosybrown {
--ion-color-base: #BC8F8F;
--ion-color-base-rgb: 188,143,143;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #a57e7e;
--ion-color-tint: #c39a9a;
}

.ion-color-sandybrown {
--ion-color-base: #F4A460;
--ion-color-base-rgb: 244,164,96;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #d79054;
--ion-color-tint: #f5ad70;
}

.ion-color-goldenrod {
--ion-color-base: #DAA520;
--ion-color-base-rgb: 218,165,32;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #c0911c;
--ion-color-tint: #deae36;
}

.ion-color-darkgoldenrod {
--ion-color-base: #B8860B;
--ion-color-base-rgb: 184,134,11;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #a2760a;
--ion-color-tint: #bf9223;
}

.ion-color-peru {
--ion-color-base: #CD853F;
--ion-color-base-rgb: 205,133,63;
--ion-color-contrast: #000000;
--ion-color-contrast-rgb: 0,0,0;
--ion-color-shade: #b47537;
--ion-color-tint: #d29152;
}

.ion-color-chocolate {
--ion-color-base: #D2691E;
--ion-color-base-rgb: 210,105,30;
--ion-color-contrast: #ffffff;
--ion-color-contrast-rgb: 255,255,255;
--ion-color-shade: #b95c1a;
--ion-color-tint: #d77835;
}

.ion-color-saddlebrown {
--ion-color-base: #8B4513;
--ion-color-base-rgb: 139,69,19;
--ion-color-contrast: #ffffff;
--ion-color-contrast-rgb: 255,255,255;
--ion-color-shade: #7a3d11;
--ion-color-tint: #97582b;
}

.ion-color-sienna {
--ion-color-base: #A0522D;
--ion-color-base-rgb: 160,82,45;
--ion-color-contrast: #ffffff;
--ion-color-contrast-rgb: 255,255,255;
--ion-color-shade: #8d4828;
--ion-color-tint: #aa6342;
}

.ion-color-brown {
--ion-color-base: #A52A2A;
--ion-color-base-rgb: 165,42,42;
--ion-color-contrast: #ffffff;
--ion-color-contrast-rgb: 255,255,255;
--ion-color-shade: #912525;
--ion-color-tint: #ae3f3f;
}

/* Maroon above */

/* ----------Green colors---------------- */

/* ----------Cyan colors---------------- */

/* ----------Blue colors---------------- */

/* ----------Purple, Violet, and Magenta colors---------------- */

/* ----------White colors---------------- */

/* White above */

.ion-color-snow {
  --ion-color-base: #FFFAFA;
  --ion-color-base-rgb: 255, 250, 250;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0dcdc;
  --ion-color--tint: #fffbfb;
}

.ion-color-honeydew {
  --ion-color-base: #F0FFF0;
  --ion-color-base-rgb: 240, 255, 240;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d3e0d3;
  --ion-color-tint: #f2fff2;
}

.ion-color-mintcream {
  --ion-color-base: #F5FFFA;
  --ion-color-base-rgb: 245, 255, 250;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d8e0dc;
  --ion-color-tint: #f6fffb;
}

.ion-color-azure {
  --ion-color-base: #F0FFFF;
  --ion-color-base-rgb: 240, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d3e0e0;
  --ion-color-tint: #f2ffff;
}

.ion-color-aliceblue {
  --ion-color-base: #F0F8FF;
  --ion-color-base-rgb: 240, 248, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d3dae0;
  --ion-color-tint: #f2f9ff;
}

.ion-color-ghostwhite {
  --ion-color-base: #F8F8FF;
  --ion-color-base-rgb: 248, 248, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dadae0;
  --ion-color-tint: #f9f9ff;
}

.ion-color-whitesmoke {
  --ion-color-base: #F5F5F5;
  --ion-color-base-rgb: 245, 245, 245;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d8d8d8;
  --ion-color-tint: #f6f6f6;
}

.ion-color-seashell {
  --ion-color-base: #FFF5EE;
  --ion-color-base-rgb: 255, 245, 238;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0d8d1;
  --ion-color-tint: #fff6f0;
}

.ion-color-beige {
  --ion-color-base: #F5F5DC;
  --ion-color-base-rgb: 245, 245, 220;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d8d8c2;
  --ion-color-tint: #f6f6e0;
}

.ion-color-oldlace {
  --ion-color-base: #FDF5E6;
  --ion-color-base-rgb: 253, 245, 230;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dfd8ca;
  --ion-color-tint: #fdf6e9;
}

.ion-color-floralwhite {
  --ion-color-base: #FFFAF0;
  --ion-color-base-rgb: 255, 250, 240;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0dcd3;
  --ion-color-tint: #fffbf2;
}

.ion-color-ivory {
  --ion-color-base: #FFFFF0;
  --ion-color-base-rgb: 255, 255, 240;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0d3;
  --ion-color-tint: #fffff2;
}

.ion-color-antiquewhite {
  --ion-color-base: #FAEBD7;
  --ion-color-base-rgb: 250, 235, 215;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dccfbd;
  --ion-color-tint: #fbeddb;
}

.ion-color-linen {
  --ion-color-base: #FAF0E6;
  --ion-color-base-rgb: 250, 240, 230;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #dcd3ca;
  --ion-color-tint: #fbf2e9;
}

.ion-color-lavenderblush {
  --ion-color-base: #FFF0F5;
  --ion-color-base-rgb: 255, 240, 245;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0d3d8;
  --ion-color-tint: #fff2f6;
}

.ion-color-mistyrose {
  --ion-color-base: #FFE4E1;
  --ion-color-base-rgb: 255, 228, 225;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0c9c6;
  --ion-color-tint: #ffe7e4;
}

/* ----------Gray and Black colors---------------- */

.ion-color-gainsboro {
  --ion-color-base: #DCDCDC;
  --ion-color-base-rgb: 220, 220, 220;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #c2c2c2;
  --ion-color-tint: #e0e0e0;
}

.ion-color-lightgray {
  --ion-color-base: #D3D3D3;
  --ion-color-base-rgb: 211, 211, 211;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #bababa;
  --ion-color-tint: #d7d7d7;
}

/* Silver above */

.ion-color-darkgray {
  --ion-color-base: #A9A9A9;
  --ion-color-base-rgb: 169, 169, 169;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #959595;
  --ion-color-tint: #b2b2b2;
}

/* Gray above */

.ion-color-dimgray {
  --ion-color-base: #696969;
  --ion-color-base-rgb: 105, 105, 105;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #5c5c5c;
  --ion-color-tint: #787878;
}

.ion-color-lightslategray {
  --ion-color-base: #778899;
  --ion-color-base-rgb: 119, 136, 153;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #697887;
  --ion-color-tint: #8594a3;
}

.ion-color-slategray {
  --ion-color-base: #708090;
  --ion-color-base-rgb: 112, 128, 144;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #63717f;
  --ion-color-tint: #7e8d9b;
}

.ion-color-darkslategray {
  --ion-color-base: #2F4F4F;
  --ion-color-base-rgb: 47, 79, 79;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #294646;
  --ion-color-tint: #446161;
}

/* Black above */